@tailwind base;
@tailwind components;
@tailwind utilities;

.app-background {
    background-image: url('./resources/excursion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
/* Estilos generales del formulario */
.form-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #333333;
  }
  
  .form-label {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #555555;
    display: block;
  }
  
  .input-field, .input-select, .input-number {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .input-group {
    display: flex;
    gap: 0.5rem;
  }
  
  .input-select, .input-number {
    flex: 1;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  /* Estilos de impresión */
  @media print {
    .form-container {
      max-width: 100%;
      padding: 1rem;
    }
  }
  